.header-img {
    background-image: url("/aborists_working.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 12rem;

}

.hero {

    .header-text {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        h1 {
            font-family: $heading;
            font-size: $t-lg;
            color: $bg-white;
        }

    }
}

.teaser {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    background-color: $bg-lt-grey;



    h2 {
        font-family: $heading;
        font-size: $t-ml;
        color: $black;
        padding: 2rem;
    }

    .purp-arrow i {
        color: $purple;
        font-size: 1.5rem;
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 0.5rem;
    }

}

.teaser::before {
    content: "";
    background-color: $purple;
    width: 0.6rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


.ingress-box {
    margin-top:1rem;
    display: flex;
    position: relative;

    h3 {
        font-family: $heading;
        font-size: $t-md;
    }

    .tree-graphic {
        position: relative;

        .tree-group {
            z-index: 1;
            width: 20rem;
            position: relative;
        }

        .bck-person {
            z-index: 2;
            width: 3rem;
            position: absolute;
            top: 3.4rem;
            left: 2rem;

        }

        .for-person {
            z-index: 3;
            width: 5rem;
            position: absolute;
            top: 4rem;
            right: 3rem;
        }

    }

}

.Jour-section {
    padding-right: 0;
    margin-top: 3rem;
}

.jour-box {
    display: flex;
    justify-content: space-between;
    background-color: $bg-grey;
    width: 100%;
    padding: 1rem;

    h3 {
        color: $bg-white;
        font-weight: bold;
    }

    p {
        color: $bg-white;
    }

    .phone::before {
        content: '\f3ce';
        font-family: "Font Awesome 6 Free";
        padding-right: 0.2rem;

    }

    .mail::before {
        content: '\f0e0';
        font-family: "Font Awesome 6 Free";
        padding-right: 0.2rem;
    }

    .jour-pic {
        border-radius: 50%;
        width: 5em;
        height: 5em;
        border: 2px solid white;
        align-self: center;

    }
}


.social-media{
    margin-top:1.5rem;
     h4 {
        font-size: $t-sm;
     }
}


.social-btn {
    background-color: $purple;
    border-radius: 2rem;
    padding:0.5rem 1.1rem;
    margin:0.5rem;
    text-align: center;
    
    a {
        text-decoration: none;
        color:white;
    }
}
