.header-img {
    background-image: url("/public/treepic-sm.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 60%;
    height: 10rem;

}

.hero {

    .header-text {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        h1 {
            font-family: $heading;
            font-size: $t-lg;
            color: $bg-white;
        }

    }
}

.teaser {
    width: 100%;
    background-color: $bg-grey;


    h2 {
        font-family: $heading;
        font-size: $t-ml;
        color: rgb(19, 19, 19);

    }

}