/*TYPOGRAPHY */
$heading: "poppins", sans-serif;
$paragraph: "Open sans", sans-serif;
$test-text: "comic sans ms";

/*Sizes, typescale*/
/* 1.200 minor third, t-lg: type large*/
$t-lg: 2.074rem;
$t-ml: 1.728rem;
$t-md: 1.44rem;
$t-sm: 1rem;

/*COLORS*/
$red: #CC0000;
$purple: #822757;
$grey: #6F6E67;

/*background-colors*/
$bg-grey: #4A4944;
$bg-lt-grey: #E4E4E1;
$bg-white: #FFFFFF;